.content-central {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subtitle {
    margin-top: 30px;
    margin-bottom: 30px;
}

[class*="col-"] {
    float: left;
    padding: 5px;
}
.seller-info {
    width: 90%;
    height: fit-content;
    margin: 70px 5px 10px 0px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.3s;
}
.inf-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.seller-image {
    background-color: gray;
    width: 36vh;
    height: 36vh;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 20px;
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5vh;
}

.rate-drop {
    margin-right: 10px;
}

.btn {
    margin: 10px 5px;
    background-color: #185a37;
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    border: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: auto;
    text-decoration-color: white;
    color: white;
}
.comment-container {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 90%;
    height: fit-content;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media (max-width: 991.98px) {
    .seller-info {
        flex-direction: column; 
        width: fit-content;
        border: 1px solid #808080;
    }

    .seller-image {
        background-color: rgb(128, 128, 128);
        width: 310px;
        height: 340px;
        border-radius: 5px;
        margin: 10px;
    }

    .comment-text {
        width: 100%;
        max-width: none;
    }

    .comment-container {
        width: 100%;
        max-width: none;
        margin: 5px;
    }
}
textarea{
    width: 90%;
    resize: vertical;
    padding:5px;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height:50px;
}
#commentLine{
    width: 90%;
    display: flex;
    align-items: center;
}
#customer-info{
    display: flex;
    justify-content: space-between;
}
.comment-name{
  padding: 5px;
    font-weight: bold;
}