@page "/"
<PageTitle>Index</PageTitle>
<div class="main-content">
    <div class="sidebar">
        <NavMenu/>
    </div>
    <div class="content">
        <div class="content-header">
            <a>Home &#x2022 Page</a>
        </div>
        <div class="content-central">
            <div class="home-content">
                <div class ="row">
                    <div class="home-item col-12 col-lg-3">
                        <div class="home-image"><img src=""/></div>
                        <div class="description"><b>Estimations state that approximately 10% of all the food that is available to people in the EU, whether in stores, restaurants, or homes, ends up being wasted. At the same time, there are around 32.6 million people who cannot afford to have a nutritious meal every other day</b></div>
                    </div>
                    <div class="home-item col-12 col-lg-3">
                        <div class="home-image"></div>
                        <div class="description"><b>Acknowledging this obstacle, the European Union is committed to reach Sustainable Development Goal Target 12.3 by 2030. This objective aims to reduce food waste, both at the consumer level and in the retail industry, at least by half.</b></div>
                    </div>
                </div>
                <div class ="row">
                    <div class="home-item col-12 col-lg-3">
                        <div class="home-image"></div>
                        <div class="description"><b>Our main purpose: creating a mutually beneficial connection between food sellers, such as restaurants, grocery stores, bakeries etc., and consumers, contributing to the fight against food waste.</b></div>
                    </div>
                    <div class="home-item col-12 col-lg-3">
                        <div class="home-image"></div>
                        <div class="description"><b>Our target audience consists of people trying to save money while preserving unsold or soon-to-expire food, as well as food sellers interested in participating in this initiative. You could be the next one who contributes in saving the planet!</b></div>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="content-footer bottom-0">
            <div class="footer-title">Too Fresh Too Waste</div>
            <div class="footer-address">
                <a>Banegårdsgade 2</a>
                <a>8700 Horsens</a>
                <a>+45 50 36 14 56</a>
            </div>
            <div class="footer-copyrights">&copy Too Fresh Too Waste. All rights reserved.</div>
        </div>
    </div>
</div>

@code {
    

}