.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding-right: 20px;
    padding-top: 10px;
}
img{
    width: 90%;
    height: auto;
    margin-left: 10px;
}
.paragraph{
    width: 100%;
    height: fit-content;
    margin: 40px 5px 0px 5px;
    padding: 0px 15px;
    align-items: center;
    display: flex;
}
[class*="col-"] {
    float: left;
    padding: 5px;
}
h4{
    line-height: 1.6;
}

