@page "/"
<PageTitle>Index</PageTitle>
<div class="main-content">
    <div class="sidebar">
        <NavMenu/>
    </div>
    <div class="content">
        <div class="content-header">
            <a>Home &#x2022 Page</a>
        </div>
        <div class="info">
            <div class="paragraph">
                <div class="description  col-sm-12 col-lg-8">
                    <h1 style="font-weight: bold">Welcome to Too Fresh To Waste!</h1>
                    <h4 style="text-align: justify">Our platform links culinary providers with eager customers. Whether you operate a restaurant, food truck, or catering service, you have the opportunity to display your delectable food offerings on our platform. Customers can effortlessly explore the various choices and proceed with their transactions. Join our community today to expand your reach and connect with a broader customer base!</h4>
                </div>
                <div class="col-sm-12 col-lg-4"><img src="images/bowl-removebg-preview.png"/></div>
            </div>
        </div>
        <div class="info">
            <div class="paragraph">
                <div class="col-sm-12 col-lg-4"><img src="images/pizza-removebg-preview.png"/></div>
                <div class="description  col-sm-12 col-lg-8">
                    <h1 style="font-weight: bold">Food Waste Problem</h1>
                    <h4 style="text-align: justify">Estimations state that approximately 10% of all the food that is available to people in the EU, whether in stores, restaurants, or homes, ends up being wasted. At the same time, there are around 32.6 million people who cannot afford to have a nutritious meal every other day. Acknowledging this obstacle, the European Union is committed to reach Sustainable Development Goal Target 12.3 by 2030. This objective aims to reduce food waste, both at the consumer level and in the retail industry, at least by half.</h4>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="paragraph">
                <div class="description  col-sm-12 col-lg-8">
                    <h1 style="font-weight: bold">Our Main Purpose</h1>
                    <h4 style="text-align: justify">Creating a mutually beneficial connection between food sellers, such as restaurants, grocery stores, bakeries etc., and consumers, contributing to the fight against food waste. Our target audience consists of people trying to save money while preserving unsold or soon-to-expire food, as well as food sellers interested in participating in this initiative. You could be the next one who contributes in saving the planet!</h4>
                </div>
                <div class="col-sm-12 col-lg-4"><img src="images/donut-removebg-preview.png"/></div>
            </div>
        </div>
        
        
        <div class="content-footer bottom-0">
            <div class="footer-title">Too Fresh Too Waste</div>
            <div class="footer-address">
                <a>Banegårdsgade 2</a>
                <a>8700 Horsens</a>
                <a>+45 50 36 14 56</a>
            </div>
            <div class="footer-copyrights">&copy Too Fresh Too Waste. All rights reserved.</div>
        </div>
    </div>
</div>

@code {
    

}