.content-central {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.reservation-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.subtitle {
    display: flex;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    width: 40vh;
    height: 50vh;
    margin: 25px 10px 10px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product-image {
    background-color: rgb(128, 128, 128);
    width: 36vh;
    height: 36vh;
    border-radius: 5px;
}

.product-title {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
}

.product-seller, .product-price {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
}
