/* _content/Blazor/Pages/Customer/CustomerDisplayFoodOffer.razor.rz.scp.css */
.food-offer[b-tf6k2kfai8]{
    display: flex;
    flex-direction: row;
    width: 82vw;
    height: auto;
    margin: 70px 5px 10px 0px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.3s;
    justify-content: center;
    
    
}
.product-image[b-tf6k2kfai8] {
    background-color: gray;
    width: 36vh;
    height: 36vh;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 20px;
}

.product-title[b-tf6k2kfai8] {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
}

.product-price[b-tf6k2kfai8] {
    font-size: 16px;
    font-weight: bold;
    color: #185a37;
}
.product-info[b-tf6k2kfai8] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn[b-tf6k2kfai8] {
    margin: 10px 5px;
    background-color: #185a37;
    resize: vertical;
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    border: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: auto;
    text-decoration-color: white;
    color: white;
}
.btn:hover[b-tf6k2kfai8] {
    transform: scale(1.1);
}
/* _content/Blazor/Pages/Customer/FoodOffersOverview.razor.rz.scp.css */
.content-central[b-ld88kcxl59] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.search-bar[b-ld88kcxl59] {
    position: relative;
    top: 8vh;
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.search-button[b-ld88kcxl59] {
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-left: 5px;
}

.search-input[b-ld88kcxl59] {
    width: calc(0.8*82vw);
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.product[b-ld88kcxl59] {
    display: flex;
    width: 40vh;
    height: 50vh;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product-image[b-ld88kcxl59] {
    background-color: gray;
    width: 36vh;
    height: 36vh;
    border-radius: 5px;
}

.product-title[b-ld88kcxl59] {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
}

.product-seller[b-ld88kcxl59], .product-price[b-ld88kcxl59] {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
}
/* _content/Blazor/Pages/FoodSeller/FoodSellerDisplayFoodOffer.razor.rz.scp.css */
.food-offer[b-lytcjpabj0]{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 82vw;
    height: auto;
    margin: 70px 5px 10px 0px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.3s;
    justify-content: center;


}
.product-image[b-lytcjpabj0] {
    background-color: gray;
    width: 36vh;
    height: 36vh;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 20px;
}
.product-info[b-lytcjpabj0] {
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}
input[b-lytcjpabj0], textarea[b-lytcjpabj0]{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
}
textarea[b-lytcjpabj0]{
    height: 200px;
}
.btn[b-lytcjpabj0] {
    margin: 10px 5px;
    background-color: #185a37;
    resize: vertical;
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    border: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: auto;
    text-decoration-color: white;
    color: white;
}
.btn:hover[b-lytcjpabj0] {
    transform: scale(1.1);
}
/* _content/Blazor/Pages/FoodSeller/FoodSellerDisplayReservation.razor.rz.scp.css */
.food-offer[b-hmsk5grchi]{
    display: flex;
    flex-direction: row;
    width: 82vw;
    height: auto;
    margin: 70px 5px 10px 0px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.3s;
    justify-content: center;


}
.product-image[b-hmsk5grchi] {
    background-color: gray;
    width: 36vh;
    height: 36vh;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 20px;
}

.product-title[b-hmsk5grchi] {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
}

.product-price[b-hmsk5grchi] {
    font-size: 16px;
    font-weight: bold;
    color: #185a37;
}
.product-info[b-hmsk5grchi] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn[b-hmsk5grchi] {
    margin: 10px 5px;
    background-color: #185a37;
    resize: vertical;
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    border: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: auto;
    text-decoration-color: white;
    color: white;
}
.btn:hover[b-hmsk5grchi] {
    transform: scale(1.1);
}
/* _content/Blazor/Shared/MainLayout.razor.rz.scp.css */
.page[b-r0yqwuvdyg] {
    position: relative;
    display: flex;
    flex-direction: column;
}

#main[b-r0yqwuvdyg] {
    padding: 0 !important;
}

main[b-r0yqwuvdyg] {
    flex: 1;
    background-color: white !important;
}

.top-row[b-r0yqwuvdyg] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-r0yqwuvdyg]  a, .top-row .btn-link[b-r0yqwuvdyg] {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child[b-r0yqwuvdyg] {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-r0yqwuvdyg] {
        display: none;
    }

    .top-row.auth[b-r0yqwuvdyg] {
        justify-content: space-between;
    }

    .top-row a[b-r0yqwuvdyg], .top-row .btn-link[b-r0yqwuvdyg] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-r0yqwuvdyg] {
        flex-direction: row;
    }

    .sidebar[b-r0yqwuvdyg] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-r0yqwuvdyg] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-r0yqwuvdyg], article[b-r0yqwuvdyg] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/Blazor/Shared/NavMenu.razor.rz.scp.css */
#navbar-menu[b-6hj6azdo60] {
    height: 94vh;
    color: white;
}

#navbar-logo[b-6hj6azdo60] {
    opacity: 90%;
    color: white;
    cursor: default;
}

.navbar-toggler[b-6hj6azdo60] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-6hj6azdo60] {
    height: 6vh;
}

@media (max-width: 641px) {
    .top-row[b-6hj6azdo60] {
        height: 10vh;
    }
    #navbar-menu[b-6hj6azdo60] {
        height: auto;
    }
}

.navbar-brand[b-6hj6azdo60] {
    font-size: 1.1rem;
    text-wrap: revert;
    color: white !important;
    font-weight: 700;
}

.oi[b-6hj6azdo60] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-6hj6azdo60] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-6hj6azdo60] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-6hj6azdo60] {
    padding-bottom: 1rem;
}

.nav-item[b-6hj6azdo60]  a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-6hj6azdo60]  a.active {
    color: white;
}

.nav-item[b-6hj6azdo60]  a:hover {
    background-color: rgba(0,0,0,0.2);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-6hj6azdo60] {
        display: none;
    }

    .collapse[b-6hj6azdo60] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-6hj6azdo60] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
    }
}
