/* _content/Blazor/Pages/CreateAccount.razor.rz.scp.css */
.content-central[b-jfhtpmtltg] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register[b-jfhtpmtltg] {
    display: flex;
    flex-direction: row;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.register-hello[b-jfhtpmtltg], .register-action[b-jfhtpmtltg] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}

.register-hello[b-jfhtpmtltg] {
    background-image: linear-gradient(180deg, #023020 0%, #185a37 90%);
    color: white;
    border-top-left-radius: 5px;
}

@media (max-width: 992px) {
    .register[b-jfhtpmtltg] {
        flex-direction: column;
    }

    .register-hello[b-jfhtpmtltg] {
        border-top-right-radius: 5px;
    }
}

@media (min-width: 992px) {
    .register-hello[b-jfhtpmtltg] {
        border-bottom-left-radius: 5px;
    }
}

.register-hello p[b-jfhtpmtltg] {
    font-size: 24px;
    font-weight: 800;
}

.register-hello b[b-jfhtpmtltg], .register-hello a[b-jfhtpmtltg] {
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
    text-align: center;
}

.register-field[b-jfhtpmtltg] {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px 5px;
    min-width: fit-content;
    width: -webkit-fill-available;
    margin: 5px 0;
}

.register-button[b-jfhtpmtltg], .continue-button[b-jfhtpmtltg] {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px 0;
    width: -webkit-fill-available;
}

.register-button[b-jfhtpmtltg] {
    margin: 10px 0;
}

.register-button:hover[b-jfhtpmtltg], .continue-button:hover[b-jfhtpmtltg] {
    background-color: rgba(0,0,0,0.1);
    transition: background-color 400ms linear;
}

.continue[b-jfhtpmtltg] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-top: 10px;
}

.continue div[b-jfhtpmtltg] {
    margin: 10px 5px;
}

.continue-text[b-jfhtpmtltg] {
    text-align: center;
}
/* _content/Blazor/Pages/Customer/CustomerDisplayFoodOffer.razor.rz.scp.css */
.food-offer[b-tf6k2kfai8]{
    width: 82vw;
    height: fit-content;
    margin: 70px 5px 10px 0px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.3s;
}
[class*="col-"][b-tf6k2kfai8] {
    float: left;
    padding: 5px;
}
.product-image[b-tf6k2kfai8] {
    background-color: gray;
    width: 36vh;
    height: 36vh;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 20px;
}

.product-title[b-tf6k2kfai8] {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
}

.product-price[b-tf6k2kfai8] {
    font-size: 16px;
    font-weight: bold;
    color: #185a37;
}
.product-info[b-tf6k2kfai8] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn[b-tf6k2kfai8] {
    margin: 10px 5px;
    background-color: #185a37;
    resize: vertical;
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    border: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: auto;
    text-decoration-color: white;
    color: white;
}
.btn:hover[b-tf6k2kfai8] {
    transform: scale(1.1);
}
/* _content/Blazor/Pages/Customer/FoodOffersOverview.razor.rz.scp.css */
.content-central[b-ld88kcxl59] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.search-bar[b-ld88kcxl59] {
    position: relative;
    top: 8vh;
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.search-button[b-ld88kcxl59] {
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-left: 5px;
}

.search-input[b-ld88kcxl59] {
    width: calc(0.8*82vw);
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.product[b-ld88kcxl59] {
    display: flex;
    width: 40vh;
    height: 50vh;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product-image[b-ld88kcxl59] {
    background-color: rgb(128, 128, 128);
    width: 36vh;
    height: 36vh;
    border-radius: 5px;
}

.product-title[b-ld88kcxl59] {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
}

.product-seller[b-ld88kcxl59], .product-price[b-ld88kcxl59] {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
}
/* _content/Blazor/Pages/Customer/FoodSellersOverview.razor.rz.scp.css */
.content-central[b-tgucxdvbu8] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.sellers[b-tgucxdvbu8] {
    display: flex;
    width: 40vh;
    height: 50vh;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sellers-image[b-tgucxdvbu8] {
    background-color: rgb(128, 128, 128);
    width: 36vh;
    height: 36vh;
    border-radius: 5px;
}

.sellers-name[b-tgucxdvbu8] {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
}

.sellers-address[b-tgucxdvbu8], .sellers-phoneNo[b-tgucxdvbu8] {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
}
/* _content/Blazor/Pages/Customer/ReservationsOverview.razor.rz.scp.css */
.content-central[b-ysgubcewnn] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.reservation-container[b-ysgubcewnn] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.subtitle[b-ysgubcewnn] {
    display: flex;
    justify-content: center;
}

.search-bar[b-ysgubcewnn] {
    position: relative;
    top: 8vh;
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.search-button[b-ysgubcewnn] {
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-left: 5px;
}

.search-input[b-ysgubcewnn] {
    width: calc(0.8*82vw);
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.product[b-ysgubcewnn] {
    display: flex;
    flex-direction: column;
    width: 40vh;
    height: 50vh;
    margin: 25px 10px 10px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product-image[b-ysgubcewnn] {
    background-color: rgb(128, 128, 128);
    width: 36vh;
    height: 36vh;
    border-radius: 5px;
}

.product-title[b-ysgubcewnn] {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
}

.product-seller[b-ysgubcewnn], .product-price[b-ysgubcewnn] {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
}
/* _content/Blazor/Pages/DisplayFoodSeller.razor.rz.scp.css */
.content-central[b-hvm59tntmh] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subtitle[b-hvm59tntmh] {
    margin-top: 30px;
    margin-bottom: 30px;
}

.seller-info[b-hvm59tntmh] {
    display: flex;
    width: 65vh;
    height: 40vh;
    margin: 10px;
    padding: 10px;
    flex-direction: row;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.inf-container[b-hvm59tntmh] {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-top: 10px;
}

.seller-image[b-hvm59tntmh] {
    background-color: rgb(128, 128, 128);
    width: 320px;
    height: 340px;
    border-radius: 5px;
    margin: 10px;
}

.rating[b-hvm59tntmh] {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5vh;
}

.rate-drop[b-hvm59tntmh] {
    margin-right: 10px;
}

.btn[b-hvm59tntmh] {
    margin: 10px 5px;
    background-color: #185a37;
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    border: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: auto;
    text-decoration-color: white;
    color: white;
}

.comment-text[b-hvm59tntmh] {
    width: 65vh;
    height: 20vh;
    border: 1px solid lightgrey;
    margin-bottom: 1vh;
}

.comment-container[b-hvm59tntmh] {
    display: flex;
    flex-direction: column;
    width: 65vh;
    height: fit-content;
    margin: 40px 10px 10px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media (max-width: 991.98px) {
    .seller-info[b-hvm59tntmh] {
        flex-direction: column; 
        width: fit-content;
        border: 1px solid #808080;
    }

    .seller-image[b-hvm59tntmh] {
        background-color: rgb(128, 128, 128);
        width: 310px;
        height: 340px;
        border-radius: 5px;
        margin: 10px;
    }

    .comment-text[b-hvm59tntmh] {
        width: 100%;
        max-width: none;
    }

    .comment-container[b-hvm59tntmh] {
        width: 100%;
        max-width: none;
    }
}
/* _content/Blazor/Pages/FoodSeller/FoodSellerDisplayFoodOffer.razor.rz.scp.css */
.food-offer[b-lytcjpabj0]{
    width: 82vw;
    height: fit-content;
    margin: 70px 5px 10px 0px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.3s;
}
[class*="col-"][b-lytcjpabj0] {
    float: left;
    padding: 5px;
}
.product-image[b-lytcjpabj0] {
    background-color: gray;
    width: 36vh;
    height: 36vh;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 20px;
}
.product-info[b-lytcjpabj0] {
    flex-direction: column;
    align-items: flex-start;
}
input[b-lytcjpabj0], textarea[b-lytcjpabj0]{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
}
textarea[b-lytcjpabj0]{
    height: 200px;
}
.btn[b-lytcjpabj0] {
    margin: 10px 5px;
    background-color: #185a37;
    resize: vertical;
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    border: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: auto;
    text-decoration-color: white;
    color: white;
}
.btn:hover[b-lytcjpabj0] {
    transform: scale(1.1);
}
/* _content/Blazor/Pages/FoodSeller/FoodSellerDisplayReservation.razor.rz.scp.css */
.food-offer[b-hmsk5grchi]{
    width: 82vw;
    height: fit-content;
    margin: 70px 5px 10px 0px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.3s;
}
[class*="col-"][b-hmsk5grchi] {
    float: left;
    padding: 5px;
}
.product-image[b-hmsk5grchi] {
    background-color: gray;
    width: 36vh;
    height: 36vh;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 20px;
}

.product-title[b-hmsk5grchi] {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
}

.product-price[b-hmsk5grchi] {
    font-size: 16px;
    font-weight: bold;
    color: #185a37;
}
.product-info[b-hmsk5grchi] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn[b-hmsk5grchi] {
    margin: 10px 5px;
    background-color: #185a37;
    resize: vertical;
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    border: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: auto;
    text-decoration-color: white;
    color: white;
}
.btn:hover[b-hmsk5grchi] {
    transform: scale(1.1);
}
/* _content/Blazor/Pages/FoodSeller/ManageFoodOffers.razor.rz.scp.css */
.content-central[b-dq0f1li1lm] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.foodOffer-container[b-dq0f1li1lm] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.card[b-dq0f1li1lm] {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60vh;
    height: 50vh;
    margin: 25px 10px 10px 10px;
    background-color: #f6f6f6;
    border: none;
}

.subtitle[b-dq0f1li1lm] {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-weight: 400;
}

.product[b-dq0f1li1lm] {
    display: flex;
    flex-direction: column;
    width: 40vh;
    height: 50vh;
    margin: 25px 10px 10px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product-image[b-dq0f1li1lm] {
    background-color: rgb(128, 128, 128);
    width: 36vh;
    height: 30vh;
    border-radius: 5px;
}

.product-title[b-dq0f1li1lm] {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
}

.product-seller[b-dq0f1li1lm], .product-price[b-dq0f1li1lm],  .product-start[b-dq0f1li1lm], .product-end[b-dq0f1li1lm]{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
}

.title-field[b-dq0f1li1lm] {
    margin-top: 15px;
    margin-left: 50px;
    justify-content: center;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 400;
}

.input-field[b-dq0f1li1lm] {
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 30px;
    width: 44vh;
}

.input-field-description[b-dq0f1li1lm] {
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 100px;
    width: 50vh;
    font-size: 14px;
}

#date[b-dq0f1li1lm] {
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 30px;
    width: 40vh;
}

#endDate[b-dq0f1li1lm] {
    margin-right: 16px;
}

.createbtn[b-dq0f1li1lm] {
    margin-top: 40px;
    border: 1px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
    height: 25px;
    margin-left: 50px;
}

.createbtn:hover[b-dq0f1li1lm] {
    background-color: white;
}

#title[b-dq0f1li1lm] {
    margin-left: 10px;
}

#description[b-dq0f1li1lm] {
    margin-left: 50px;
}

#price[b-dq0f1li1lm] {
    margin-left: 8px;
}

@media screen and (max-width: 768px) {
    .card[b-dq0f1li1lm],
    .product[b-dq0f1li1lm] {
        width: 90%;
        max-width: none;
    }

    .input-field[b-dq0f1li1lm],
    .input-field-description[b-dq0f1li1lm],
    .title-field[b-dq0f1li1lm],
    #date[b-dq0f1li1lm],
    #description[b-dq0f1li1lm],
    #title[b-dq0f1li1lm],
    #price[b-dq0f1li1lm]{
        width: 100%;
        margin-left: 0px;
    }
    .createbtn[b-dq0f1li1lm] {
        margin-left: 0px;
    }
}

@media screen and (max-width: 480px) {
    .card[b-dq0f1li1lm],
    .product[b-dq0f1li1lm] {
        width: 100%;
        max-width: none;
        margin-left: 0px;
    }

    .input-field[b-dq0f1li1lm],
    .input-field-description[b-dq0f1li1lm],
    .title-field[b-dq0f1li1lm],
    #date[b-dq0f1li1lm],
    #description[b-dq0f1li1lm],
    #title[b-dq0f1li1lm],
    #price[b-dq0f1li1lm]{
        width: 100%;
        margin-left: 0px;
    }

    .createbtn[b-dq0f1li1lm] {
        margin-left: 0px;
    }
}
/* _content/Blazor/Pages/FoodSeller/ManageReservations.razor.rz.scp.css */
.content-central[b-w1ykbjgvi1] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.reservation-container[b-w1ykbjgvi1] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.subtitle[b-w1ykbjgvi1] {
    display: flex;
    justify-content: center;
}

.product[b-w1ykbjgvi1] {
    display: flex;
    flex-direction: column;
    width: 40vh;
    height: 50vh;
    margin: 25px 10px 10px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product-image[b-w1ykbjgvi1] {
    background-color: rgb(128, 128, 128);
    width: 36vh;
    height: 36vh;
    border-radius: 5px;
}

.product-title[b-w1ykbjgvi1] {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
}

.product-seller[b-w1ykbjgvi1], .product-price[b-w1ykbjgvi1] {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .card[b-w1ykbjgvi1],
    .product[b-w1ykbjgvi1] {
        width: 90%;
        max-width: none;
    }
}

/* Media query for screens up to 480px */
@media screen and (max-width: 480px) {
    .card[b-w1ykbjgvi1],
    .product[b-w1ykbjgvi1] {
        width: 100%;
        max-width: none;
    }

}
/* _content/Blazor/Pages/Index.razor.rz.scp.css */
@media (max-width: 991.98px) {
    .row[b-ci4vf3jic1] {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }

    .home-item[b-ci4vf3jic1] {
        margin: 10px;
        text-align: center;
    }
}
.content-central[b-ci4vf3jic1] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.subtitle[b-ci4vf3jic1] {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    font-weight: 400;
}

.description[b-ci4vf3jic1]{
    margin-top: 10px;
    font-size: 12px;
    font-weight: 300;
}
.home-content[b-ci4vf3jic1]{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.home-item[b-ci4vf3jic1]{
    display: flex;
    width: 40vh;
    min-height: 50vh;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.home-image[b-ci4vf3jic1]{
    background-color: rgb(128, 128, 128);
    width: 36vh;
    height: 36vh;
    border-radius: 5px;
}

/*.h-image{
    width: 36vh;
    height: 36vh;
    border-radius: 5px;
}*/

.row[b-ci4vf3jic1]{
    margin: -10px;
    margin-bottom: 10px;
}
/* _content/Blazor/Pages/Login.razor.rz.scp.css */
.content-central[b-n3b4hveadi] {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login[b-n3b4hveadi] {
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: white;
}

.login-hello[b-n3b4hveadi] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: linear-gradient(180deg, #023020 0%, #185a37 90%);
}

.login-hello p[b-n3b4hveadi] {
    font-size: 24px;
    font-weight: 800;
}

.login-hello b[b-n3b4hveadi], .login-hello a[b-n3b4hveadi] {
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
}

.login-action[b-n3b4hveadi] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 30vh;
    padding: 15px;
}

.login-field[b-n3b4hveadi] {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px 5px;
    min-width: fit-content;
    width: -webkit-fill-available;
    margin: 5px 0;
}

.register[b-n3b4hveadi] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.login-button[b-n3b4hveadi], .register-button[b-n3b4hveadi] {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px 0;
    width: -webkit-fill-available;
}

.login-button[b-n3b4hveadi] {
    margin: 10px 0;
}

.register div[b-n3b4hveadi] {
    margin: 10px 5px;
}

.login-button:hover[b-n3b4hveadi], .register-button:hover[b-n3b4hveadi] {
    background-color: rgba(0,0,0,0.1);
    transition: background-color 400ms linear;
}

.no-account[b-n3b4hveadi] {
    text-align: center;
}
/* _content/Blazor/Pages/ManageAccount.razor.rz.scp.css */
.content-central[b-xvrugd6msb] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-box[b-xvrugd6msb] {
    background-image: linear-gradient(180deg, #023020 0%, #185a37 90%);
    border-radius: 5px;
    padding: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.manage-account[b-xvrugd6msb] {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}

.manage-field[b-xvrugd6msb] {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px 5px;
    min-width: fit-content;
    width: -webkit-fill-available;
    margin: 5px 0;
}

.button[b-xvrugd6msb]{
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px 0;
    width: -webkit-fill-available;
    margin: 10px 5px;
}

.button:hover[b-xvrugd6msb] {
    background-color: rgba(0,0,0,0.1);
    transition: background-color 400ms linear;
}

.button-row[b-xvrugd6msb] {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* _content/Blazor/Shared/MainLayout.razor.rz.scp.css */
.page[b-r0yqwuvdyg] {
    position: relative;
    display: flex;
    flex-direction: column;
}

#main[b-r0yqwuvdyg] {
    padding: 0 !important;
}

main[b-r0yqwuvdyg] {
    flex: 1;
    background-color: white !important;
}

.top-row[b-r0yqwuvdyg] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-r0yqwuvdyg]  a, .top-row .btn-link[b-r0yqwuvdyg] {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child[b-r0yqwuvdyg] {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-r0yqwuvdyg] {
        display: none;
    }

    .top-row.auth[b-r0yqwuvdyg] {
        justify-content: space-between;
    }

    .top-row a[b-r0yqwuvdyg], .top-row .btn-link[b-r0yqwuvdyg] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-r0yqwuvdyg] {
        flex-direction: row;
    }

    .sidebar[b-r0yqwuvdyg] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-r0yqwuvdyg] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-r0yqwuvdyg], article[b-r0yqwuvdyg] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/Blazor/Shared/NavMenu.razor.rz.scp.css */
.navbar[b-6hj6azdo60], .nav-scrollable[b-6hj6azdo60] {
    min-width: max-content;
}

#navbar-menu[b-6hj6azdo60] {
    height: 94vh;
    color: white;
}

#navbar-logo[b-6hj6azdo60] {
    opacity: 90%;
    color: white;
    cursor: default;
}

.navbar-toggler[b-6hj6azdo60] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-6hj6azdo60] {
    height: 6vh;
}

@media (max-width: 641px) {
    .top-row[b-6hj6azdo60] {
        height: 10vh;
    }
    #navbar-menu[b-6hj6azdo60] {
        height: auto;
    }
}

.navbar-brand[b-6hj6azdo60] {
    font-size: 1.1rem;
    text-wrap: revert;
    color: white !important;
    font-weight: 700;
}

.oi[b-6hj6azdo60] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-6hj6azdo60] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-6hj6azdo60] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-6hj6azdo60] {
    padding-bottom: 1rem;
}

.nav-item[b-6hj6azdo60]  a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-6hj6azdo60]  a.active {
    color: white;
}

.nav-item[b-6hj6azdo60]  a:hover {
    background-color: rgba(0,0,0,0.2);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-6hj6azdo60] {
        display: none;
    }

    .collapse[b-6hj6azdo60] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-6hj6azdo60] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
    }
}
